body {
    background: #003366;
    font-size: 2em;
    color: #bc7b73;
    font-size: 40px;
    
}

#quotes-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}